@use '../abstracts' as *;

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &__inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__inputs-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: fit-content;

    label {
      padding-bottom: 0;
    }
    @include breakpoint(medium) {
      width: auto;
    }
  }

  &-floating {
    margin: 0 !important;
    height: fit-content;
  }
}
