@use '../abstracts' as *;

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  height: 100%;
}

// .overlay {
//   position: fixed;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   z-index: 1;
//   background: rgba(0, 0, 0, 0.5);
// }

.invalid-feedback {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.show {
  visibility: visible;
  opacity: 1;
}
